*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
    background-image: url(photo.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
   
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
   
.quiz{
    display: grid;
    grid-template-rows: 60px auto;
    width: 600px;
    height: 500px;
    border-radius: 50px;
}
   
.quiz_header{
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0px 2px 5px 1px rgba(0,0, 0, 0.1);
    z-index: 1;
}
   
.quiz_user{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}
   
.quiz_body{
    padding: 20px 30px;
    background-color: rgb(156, 156, 156);
    border-left: rgb(68, 68, 68) solid 5px;
    border-right: rgb(68, 68, 68) solid 5px;
    border-bottom: rgb(68, 68, 68) solid 5px;
}
   
.option_group{
    list-style-type: none;
    margin: 30px 0;
}
   
.option{
    display: block;
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
}
   
.option:hover{
    cursor: pointer;
    border: 3px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);
}
   
.option.active{
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
}
   
.btn-next{
    border: none;
    padding: 15px 35px;
    background-color: rgb(173, 173, 173);
    color: #fff;
    border-radius: 50px;
    transition: 0.4s all;
    display: block;
    margin: auto;
    font-weight: 600;
}
   
.btn-next:hover{
    cursor: pointer;
    background-color:rgb(129, 129, 129);
    color: rgb(255, 255, 255);
}

.q{
    text-align: center;
}
   
.award_icon{
    display: block;
    font-size: 300px;
    color: #fff;
}
   
.username, .userpoints{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
   
.border{
    height: fit-content;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
    background-color: rgba(153, 153, 153, 0.975);
    border: rgb(68, 68, 68) solid 5px;
}

.try_again{
    width: fit-content;
    display: block;
    text-align: center;
    color: gold;
    text-decoration: none;  
    margin: auto;
    text-transform: uppercase;
    font-size: larger;
}

.answ{
    margin: 15px;
}

.answer{
    display: block;
    width: fit-content;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: auto;
    font-size: larger;
}

#opp{
    text-align: center;
}

.blok{
    background-color: rgb(153, 153, 153);
    color: white;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.odgovor{
    margin-bottom: 8px;
    color: greenyellow;
}